<form (ngSubmit)="addRecipe()" #recipeForm="ngForm">
  <div class="form-group">
    <label>Name</label>
    <input type="text" name="name" class="form-control" placeholder="Enter recipe name" ngModel required #name="ngModel">
    <span class="help-text" *ngIf="name.errors && name.errors.required">Please enter name</span>
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" name="description" class="form-control" placeholder="Enter recipe description" ngModel required #description="ngModel">
    <span class="help-text" *ngIf="description.errors &&description.errors.required">Please enter description</span>
  </div>
  <div class="form-group">
    <label>Image Path</label>
    <input type="text" name="imagePath" class="form-control" placeholder="Enter recipe image path" ngModel required #imagePath="ngModel">
    <span class="help-text" *ngIf="imagePath.errors &&imagePath.errors.required">Please enter image path</span>
    <img *ngIf="imagePath.value" [src]="imagePath.value" alt="No image found" class="img-responsive" style="height: 400px">
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="recipeForm.invalid">Add</button>
  <button class="btn btn-default">Reset</button>
</form>
